@import "./headerCheckout.css";
@import "./footer.css";


  .emailCheckout{
  border: 1px solid #c4c1c1;
    font-size: 13px;
    padding-left: 20px;
    color: #000;
    width: 300px;
    border-radius: 0;
    height: 50px;
}

.emailContent{
    margin-top: 15%;
    margin-left: 35%;
}

.btn-email{
    background: black;
    color: #ffffff;
    width: 15%;
    height: 55px;
    font-weight: bold;
    cursor: pointer;
}

.emailInfo{
    margin-left: 35%;
    margin-top: 5%;
}

.iconOk {
    width: 20px;
    
}

.liEmail {
    list-style-type:none;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.emailInfo h3, .btn-email {
    font-family: 'Poppins', sans-serif;
}