/*Main Section banner sizes = width 1832px e height = 250px*/
.container-banners{
  position: relative;
}
.container-banners a{
  margin: 0;
  padding: 0;
}

.slick-prev{
  display: none;
}
.slick-next{
display: none;
}
.slider-container{
  position: relative;
}
.arrow-prev img{
  position: absolute;
  left: 10px;
  top: 50%;
  z-index: 1;
  width: 15px;
  transform: scaleX(-1);
  cursor: pointer;
}
.arrow-next img{
  position: absolute;
  right: 10px;
  top:50%;
  width: 15px;
  cursor: pointer;
}

.line{
  width: 25px;
  height: 0px;
  margin: 30px auto 0;
  border:1px solid rgb(199, 199, 199);
}
.produtos{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 16px;
}

/*Cards Produtos*/
.card-products{
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin: 0px 40px 0;
  
}
.card-container{
  width: 270px;
  height: auto;
  border: 2px solid rgb(41, 31, 8);
  border-radius: 12px;
  text-align: center;
  margin-right: 12px;
}
.product-image{
  width: 80%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid black;
}
.product-title, .old-price, .new-price,.add-to-cart, .pix, footer{
  font-family: 'Poppins', sans-serif;
}
.add-to-cart{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px auto 15px;
  justify-content: center;
  background-color: #FF6500;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}
.add-to-cart img{
  width: 25px;
}
.product-title{
  font-size: 18px;
  margin-bottom: 20px;
}
.old-price, .new-price, .pix{
  text-align: left;
  margin-left: 20px;
}

.old-price{
  text-decoration:line-through;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.538);
}
.new-price{
  color: #FF6500;
  font-weight: bold;
  font-size: 20px;
}
.pix{
  color: rgba(0, 0, 0, 0.538);
}
.slider-cards{
  position: relative;
}
.card-prev{
  position: absolute;
  bottom: 50%;
  left: 15px;
  transform: scaleX(-1);
  cursor: pointer;
}
.card-next{
  position: absolute;
  bottom: 50%;
  right: 15px;
  cursor: pointer;
}