@import "./headerCheckout.css";
@import "./footer.css";


.formPro{
    border: 1px solid gray;
    border-radius: 0;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-top: 30px;
    
}

.titlePro {
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}

.subTitle {
    font-size: 15px;
    margin-left: 5px;
    font-weight: lighter;
}

.formInput {
    margin-left: 5px;
}

.input {
    border: 1px solid gray;
    width: 400px;
    height: 45px;
}

.btnPro {
    background: black;
    color: white;
    padding: 10px 30px;
    margin:0 0 10px 5px;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
}

.cart-info{
    margin-left: 35%;
    margin-top : -50%;
    border: 1px solid gray;
    width: 400px;
    font-family: 'Poppins', sans-serif;
}

.infoProd {
    width: 100px;
    
}

.infoProdli{
    list-style-type:none;
}

.infoCel {
    margin-left: 120px;
    position: relative;
    top: -70px;
}

.info {
    margin-left: 10px;
    font-weight: lighter;
}

.info2 {
    margin-left: 250px;
    font-weight: lighter;
    position: relative;
    top: -50px;
}

.info3 {
    font-family: 'Poppins', sans-serif;
    margin-left: 10px
}